<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackberry.settings">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <queries>
        <package android:name="com.blackberry.keyboard" />
        <package android:name="com.blackberry.blackberrylauncher" />
    </queries>

    <application
        android:label="@string/device_settings_title"
        android:icon="@drawable/ic_blackberry"
        android:theme="@style/Theme.SubSettingsBase"
        android:supportsRtl="true">

        <activity
            android:name=".DeviceSettingsActivity"
            android:label="@string/device_settings_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/device_settings_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_blackberry" />
            <meta-data
                android:name="com.android.settings.icon_tintable"
                android:value="true" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="-261" />
            <meta-data
                android:name="com.android.settings.profile"
                android:value="primary_profile_only" />
        </activity>

        <activity
            android:name=".LegacyBlackBerryAppsActivity"
            android:label="@string/legacy_blackberry_apps_title"
            android:parentActivityName=".DeviceSettingsActivity"
            android:exported="false" />

    </application>
</manifest>
